.todo-section {
  align-items: center;
  flex-direction: column;
}

.todo-form {
  width: 53.125rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__input {
    width: 40.625rem;
    height: 3.125rem;

    margin-top: 0.625rem;
    margin-right: 0.312rem;

    padding: 0.312rem 1rem;
    font-size: 1rem;

    border: none;
    border-bottom: 0.125rem solid #54353e;

    color: #feede1;
    background: transparent;

    &::placeholder {
      color: #4a2f39;
    }
  }

  &__btn-add-todo {
    width: 10rem;
    height: 3.125rem;

    font-size: 1.1rem;
    color: #f25551;

    background-color: #462730;
    border-radius: 2.5rem;
    border: none;

    &:active {
      border: 0.125rem solid #241722;
    }
  }

  &__ul {
    padding: 0;
  }
}
