.navbar {
  position: relative;
  height: 2.5rem;
  background: #50454e;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;

  .active {
    border-bottom: solid 0.12rem #766773;
    background-color: #453943;
    border-radius: 2.5rem;
    padding: 0 0.5rem;
  }

  &__link {
    font-size: 1.25rem;
    display: inline;
    color: #feede1;
    margin: 0 1.25rem;
    padding: 0 0.5rem;
    font-weight: 500;
  }

  &__profile-link {
    justify-self: end;
  }

  &__todo-link {
    justify-self: flex-start;
  }

  &__logout {
    position: absolute;
    right: 0.625rem;

    width: 9.375rem;
    height: 1.875rem;
    align-self: center;

    font-size: 1rem;
    font-weight: 500;

    color: #feede1;
    background-color: #462730;

    border-radius: 2.5rem;
    border: none;
  }

  &:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 0.6;
  }
}
