.profile-form {
  position: relative;

  width: 37.5rem;
  height: 33.75rem;
  margin-top: 0.9rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  &__text {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.9rem 0;
    color: #feede1;
  }

  &__button {
    width: 15.625rem;
    height: 3.125rem;
    font-weight: 700;
    margin-top: 1.25rem;
    font-size: 1rem;

    align-self: center;

    color: #feede1;
    background-color: #462730;

    border-radius: 2.5rem;
    border: none;
  }

  &__view {
    display: flex;
    flex-direction: column;

    :last-child {
      margin-bottom: 0;
    }

    &__label {
      font-size: 1.25rem;
      font-weight: 700;
      color: #feede1;
      align-self: baseline;
    }

    &__input {
      width: 28.125rem;
      height: 2.625rem;

      margin-bottom: 1.562rem;
      padding: 0.75rem 1.125rem;

      box-sizing: border-box;
      border: 0.062rem solid #b9b9b9;
      border-radius: 0.312rem;
      background: transparent;

      font-weight: 400;
      font-size: 1rem;
      color: #feede1;
    }
  }

  &__skeletonInput {
    width: 28.125rem;
    height: 2.625rem;
    margin-bottom: 1.562rem;
  }

  &__skeletonLabel {
    width: 28.125rem;
    height: 1.875rem;
  }

  &__isEdit__button {
    position: absolute;
    bottom: 3.125rem;
  }
}
