.navbar {
  position: relative;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.2);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;

  &__link {
    font-size: 1.25rem;
    color: #feede1;
    margin: 0 1.25rem;
    font-weight: 500;
  }

  &__profile-link {
    justify-self: end;
  }

  &__logout {
    position: absolute;
    right: 0.625rem;

    width: 9.375rem;
    height: 1.875rem;
    align-self: center;

    font-size: 1rem;
    font-weight: 500;

    color: #feede1;
    background-color: #462730;

    border-radius: 2.5rem;
    border: none;
  }

  &__section-buttons {
    position: absolute;
    left: 0.625rem;
    align-self: center;

    display: flex;
  }

  &__button-language {
    width: 5rem;
    height: 1.875rem;

    margin-right: 0.3rem;

    font-size: 1rem;
    font-weight: 500;

    color: #feede1;
    background-color: #462730;

    border: none;

    &:first-child {
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
    }

    &:last-child {
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    }
  }

  &:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 0.6;
  }
}
