.todo-element {
  position: relative;
  display: flex;
  align-items: center;

  width: 53.125rem;

  margin-top: 1.6rem;

  border-radius: 0.312rem;

  text-align: start;
  list-style-type: none;

  background-color: #352432;

  &[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    bottom: -45%;
    left: 0;

    color: #feede1;
    font-size: 0.875rem;
  }

  &__input {
    width: 42.75rem;
    height: 3.125rem;
    font-size: 1rem;

    margin: 0rem 1.25rem 0rem 3.125rem;
    background: transparent;
    color: #feede1;
    border: none;
    text-overflow: ellipsis;

    &:disabled {
      color: #feede16c;
    }
  }

  &__checkbox {
    opacity: 0;
    height: 0;
    width: 0;

    position: absolute;
    top: 0.9rem;
    left: 0.9rem;
  }

  &__checkmark {
    cursor: pointer;
    position: absolute;
    top: 0.75rem;
    left: 0.687rem;
    height: 1.562rem;
    width: 1.562rem;
    border: none;
    background: center/90% no-repeat url('./assets/checkbox.svg');
  }

  &__checkbox:checked ~ &__checkmark {
    background: center/90% no-repeat url('./assets/checkboxChecked.svg');
  }

  &__delete,
  &__next-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.875rem;
    height: 1.875rem;

    border: none;
    background-color: transparent;
    margin-right: 1.25rem;
  }

  &__delete img:hover,
  &__edit img:hover,
  &__next-page img:hover,
  &__checkmark:hover {
    opacity: 0.6;
  }
}
