.textareaDecoration {
  text-decoration-line: line-through;
}

.single-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__buttons {
    display: flex;
    flex-direction: row;
    &__done,
    &__delete,
    &__go-back {
      width: 200px;
      height: 40px;

      margin: 10px;

      color: #feede1;
      background-color: #462730;

      border: none;
      border-radius: 40px;
    }
  }

  &__field {
    width: 730px;
    height: 480px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    &__textarea {
      min-width: 730px;
      min-height: 480px;

      padding: 5px 10px;
      font-size: 1rem;

      box-sizing: border-box;
      border: 1px solid #b9b9b9;

      color: #feede1;
      background: transparent;

      border-radius: 10px;
      resize: none;

      cursor: auto;
    }

    textarea::-webkit-scrollbar {
      width: 1em;
    }

    textarea::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    textarea::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 10px;
    }
  }
}
